# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Type checker
.mypy_cache/

# Linter / formatter cache
.ruff_cache/

# Test coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.iml
